USE [LifeHelper]
GO
/****** Object:  Table [dbo].[My_week]    Script Date: 2018-05-04 00:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_week](
	[Subject] [nvarchar](50) NULL,
	[Day of the week] [nvarchar](50) NULL,
	[Time] [time](7) NULL
) ON [PRIMARY]
GO
