USE [LifeHelper]
GO
/****** Object:  Table [dbo].[Calories]    Script Date: 2018-05-04 00:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calories](
	[Day of the week] [nvarchar](50) NULL,
	[Form of sport] [nvarchar](50) NULL,
	[Time of exercising [min]]] [int] NULL,
	[Calories burnt] [nvarchar](50) NULL
) ON [PRIMARY]
GO
