USE [LifeHelper]
GO
/****** Object:  Table [dbo].[To_Watch]    Script Date: 2018-05-04 00:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[To_Watch](
	[Films/TV series to watch] [nvarchar](50) NULL,
	[Recommended by] [nvarchar](50) NULL
) ON [PRIMARY]
GO
