USE [LifeHelper]
GO
/****** Object:  Table [dbo].[Plan_of_action]    Script Date: 2018-05-04 00:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan_of_action](
	[Subject] [nvarchar](50) NULL,
	[Duty] [nvarchar](50) NULL,
	[Deadline] [nvarchar](50) NULL,
	[How long will it take? [min]]] [int] NULL
) ON [PRIMARY]
GO
